include LICENSE.txt
include README.rst
include bootstrap.py
include buildout.cfg
include checkdocs.cfg
include nginx.cfg
include setup.py
include tox.ini
include varnish.cfg
include versions.cfg

recursive-include docs *
prune docs/_build
recursive-include examples *
recursive-include lib *
recursive-include templates *

global-exclude *pyc
